*{
    padding: 0;
    margin: 0;
}
.safeWidth{
    width: 960px;
    margin: 0 auto;
}
.head{
    padding: 50px 0;
    font-size: 25px;
    color:orangered;
    background: none;
}
.head button{
    float: right;
}
.head a{
    text-decoration: none;
    font-size: 18px;
    color: white;
}
.head a:hover{
    text-decoration: none;
    font-size: 18px;
    color: white;
}
.title{
    font-size: 20px;
}
.info{
    text-align: center;
}
.info>input{
    width:60%;
    margin: 0 20%;
}
.check{
    height: 35px;
    line-height: 35px;
    font-size: 16px;
    color: red;
}
.sex{
    width: 10%;
    margin: 0 70% 0 20%;
}
.china{
    width: 100%;
}
.info>.china>select{
    width:20%;
    display: inline;
}
.info>p{
    text-align: center;
    line-height: 30px;
    height: 30px;
}
.userInfo>p{
    text-align: left;
    line-height: 60px;
    height: 60px;
}
.userInfo>p>span{
    font-size: 20px;
    color: #757575;
    display: inline-block;
    margin-left: 2%;
}
.userInfo>p>button{
    float: right;
}
.tipInfo{
    height: 20px;
    line-height: 20px;
    color:orange;
}
