<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!--禁止缩放-->
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" name="viewport" />
    <title>个人中心</title>
    <link rel="stylesheet" href="__STATIC__/layui/css/layui.css"  media="all"/>
    <link rel="stylesheet" href="__CSS__/font/userCenter.css"/>
    <link rel="stylesheet" href="__STATIC__/bootstrap/css/bootstrap.min.css"/>
    <script src="__STATIC__/public/jquery.js"></script>
    <script src="__STATIC__/public/vue.js"></script>
    <script src="__STATIC__/bootstrap/js/bootstrap.min.js"></script>
    <script src="__STATIC__/layui/layui.all.js"></script>
    <script src="__STATIC__/layui/layui.js"></script>
    <style>
        @media (min-width:768px){
            /*-----移动端切换标签按钮大屏隐藏------*/
            .open_mobile{
                display: none;
            }
        }
        @media (max-width: 768px) {
            /*----待支付订单 按钮 自适应-------*/
            .mobile_xm_table{
                width: 20%;
                text-align:center;
            }
            /*-------侧边栏菜单遮罩层移动端样式-------------*/
            #mobile{
                width: 100%;
                height: 100%;
                position: fixed;
                z-index: 12;
                background: rgba(0,0,0,0.9);
                display: none;
            }
            /*--------放菜单栏容器移动端样式--------------*/
            .content_left{
                display: none;
                position: fixed;
                width:40%;
                height: 30%;
                z-index: 100;
            }
            /*---------主体内容移动端隐藏样式-------------*/
            .content_right{
                width:100%;
                text-align: center;
            }
            /*---------广告栏移动端隐藏样式-------------*/
            .content_middle{
                display: none;
            }
        }
    </style>
</head>
<body>
<div id="my_app">
<!--移动端模态框-->
<div id="mobile"></div>
<!--添加/修改地址模态框-->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="margin-top: 180px">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="exampleModalLabel">添加收货地址</h4>
            </div>
            <div class="modal-body" style="height: 380px">
                <form>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="姓名" style="width: 40%;height: 50px;display: inline-block">
                        <input type="text" class="form-control"  placeholder="手机号" style="width: 50%;height: 50px;display: inline-block">
                    </div>
                    <div  class="form-group">
                        <select name="quiz1" class="form-control" style="height: 50px;">
                            <option value="" selected="">请选择省</option>
                            <option >浙江省</option>
                        </select>
                    </div>
                    <div  class="form-group">
                        <select name="quiz2" class="form-control" style="height: 50px;">
                            <option value="">请选择市</option>
                            <option value="杭州">杭州</option>
                        </select>
                    </div>
                    <div  class="form-group">
                        <select name="quiz3" class="form-control" style="height: 50px;">
                            <option value="">请选择县/区</option>
                            <option value="西湖区">西湖区</option>
                        </select>
                    </div>
                    <div class="form-group">

                        <textarea class="form-control" id="message-text" placeholder="详细住址"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer" style="text-align: center">
                <button type="button" class="btn btn-primary btn-lg">保存</button>
                <button type="button" class="btn btn-default btn-lg" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>
<!---修改用户基本信息弹层----->
<div class="modal fade" id="alter_user" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="margin-top: 180px">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="alter_title">修改用户信息</h4>
            </div>
            <div class="modal-body" style="height: 300px">
                <form>
                    <div class="form-group" style="text-align: center">
                        <input type="text" class="form-control" placeholder="姓名" style="width: 80%;height: 50px;display: inline-block;margin-bottom: 20px">
                        <input type="text" class="form-control"  placeholder="性别" style="width: 80%;height: 50px;display: inline-block;margin-bottom:20px">
                        <input type="text" class="form-control" placeholder="邮箱" style="width: 80%;height: 50px;display: inline-block;margin-bottom:20px">
                        <input type="text" class="form-control" placeholder="密码" style="width: 80%;height: 50px;display: inline-block">
                    </div>
                </form>
            </div>
            <div class="modal-footer" style="text-align: center">
                <button type="button" class="btn btn-primary btn-lg">保存</button>
                <button type="button" class="btn btn-default btn-lg" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>
 <!--导航栏-->
<div class="nav" style="margin-bottom: -10px;">
        <ul class="layui-nav nav_bar_menu" style="text-align:right">
            <li class="layui-nav-item" style="float: left;">
                <img src="__STATIC__/images/nav-list.png" class="open_mobile"/>
            </li>
            <li class="layui-nav-item">
                <a href="javascript:;"><img src={$info['info'][0]['headimg']} class="layui-nav-img">我</a>
                <dl class="layui-nav-child">
                    <dd id="1a"><a href="javascript:;">{$info['info'][0]['userid']}</a></dd>
                    <dd  @click="exitLogin()"><a>退出登陆</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item">
                <a href="{:url('login/Login/login')}">登陆<span class="layui-badge">9</span></a>
            </li>
            <li class="layui-nav-item">
                <a href="{:url('register/Register/register')}">注册<span class="layui-badge-dot"></span></a>
            </li>
        </ul>
    </div>
<!--主体-->
<div class="content layui-row">
    <!--左边菜单栏-->
        <div class="content_left layui-col-md3 layui-col-sm3 layui-col-xs3">
            <ul class="layui-nav layui-nav-tree layui-inline" lay-filter="demo" style="width:100%">
                    <!--lay-filter监听导航点击事件-->
                    <li class="layui-nav-item layui-nav-itemed">
                        <a>个人中心</a>
                        <dl class="layui-nav-child">
                            <dd id="1"><a href="javascript:;">个人信息</a></dd>
                            <dd id="2"><a href="javascript:;">收货地址</a></dd>
                            <dd id="3"><a href="javascript:;">我的收藏</a></dd>
                            <dd id="4"><a href="javascript:;">财务明细</a></dd>
                            <dd id="5"><a href="javascript:;">我的消息</a></dd>
                        </dl>
                    </li>
                    <li class="layui-nav-item  layui-nav-itemed">
                        <a>订单中心</a>
                        <dl class="layui-nav-child">
                            <dd id="6"><a href="javascript:;">买家订单</a></dd>
                            <dd id="7"><a href="javascript:;">商家订单</a></dd>
                        </dl>
                    </li>
                    <li class="layui-nav-item layui-nav-itemed">
                        <a>发布闲置中心</a>
                        <dl class="layui-nav-child">
                            <dd  id="8"><a href="javascript:;">发布闲置</a></dd>
                            <dd id="9"><a href="javascript:;">我的商品</a></dd>
                        </dl>
                    </li>
                    <li class="layui-nav-item layui-nav-itemed">
                        <a>维权中心</a>
                        <dl class="layui-nav-child">
                            <dd id="10"><a href="javascript:;">退款管理</a></dd>
                            <dd id="11"><a href="javascript:;">投诉管理</a></dd>
                        </dl>
                    </li>
                </ul>
        </div>
    <!--右边菜单标签-->
        <div class="content_right layui-col-md9 layui-col-sm9 layui-col-xs9">
            <div class="user">
                <h1 style="text-align: left">基础资料</h1>
                <div class="layui-row" style="margin-top: 5%;">
                   <!-- <div class="layui-col-xs4 layui-col-sm5 layui-col-md4">-->
                        <div class="grid-demo info">
                                <img src={$info['info'][0]['headimg']} id="images">
                                <div class="layui-upload">
                                    <button type="button" class="layui-btn layui-icon" id="heading">
                                        &#xe67c; 修改头像
                                    </button>
                                    <div class="layui-upload-list" style="display: inline">
                                        <span id="demoText"></span>
                                    </div>
                                </div>
                        </div>
                    <hr>
                    <!--</div>-->
                    <!--<div class="layui-col-xs8 layui-col-sm7 layui-col-md8">-->
                        <div class="grid-demo show_info">
                            <p>用户账号：
                                <span>{$info['info'][0]['userid']}</span>
                            </p>
                            <p>用户昵称：
                                <span>{$info['info'][0]['nickname']}</span>
                            </p>
                            <p>用户性别：
                                <span>{$info['info'][0]['sex']}</span>
                            </p>
                            <p>验证邮箱：
                                <span>{$info['info'][0]['email']}</span>
                            </p>
                            <p>登陆密码：
                                <span>{$info['info'][0]['password']}</span>
                            </p>
                            <p style="float: right">
                                <button class="layui-btn"  data-toggle="modal" data-target="#alter_user"><i class="layui-icon">&#xe642;</i></button>
                            </p>
                        </div> <!--grid-demo-->
                   <!-- </div>-->
                </div>
                <hr>
            </div>
            <div class="address">
                <h1  style="text-align: left">收货地址</h1>
                <!--添加地址-->
                <div class="add_address">
                    <i class="layui-icon" data-toggle="modal" data-target="#exampleModal" style="">&#xe61f;</i>
                    <p>添加新地址</p>
                </div>
                <!--显示地址-->
                <div class="show_address">
                    <p style="font-size: 18px;margin: 10px 0 10px 5%">欧阳飞雪</p>
                    <p>18059310026</p>
                    <p>
                        <span>福建省</span>
                        <span>福州市</span>
                        <span>仓山区</span>
                    </p>
                    <p>金山金榕南路创意园5号楼3楼接电话方便还是看是不是就看看手机</p>
                    <p></p>
                    <!--layer 按钮组件 编辑 删除-->
                    <div class="layui-btn-group operation_btn">
                        <button class="layui-btn layui-btn-primary layui-btn-sm">
                            <i class="layui-icon">&#xe642;</i>
                        </button>
                        <button class="layui-btn layui-btn-primary layui-btn-sm">
                            <i class="layui-icon">&#xe640;</i>
                        </button>
                    </div>
                </div>
                <div class="show_address">
                    <p style="font-size: 18px;margin: 10px 0 10px 5%">欧阳飞雪</p>
                    <p>18059310026</p>
                    <p>
                        <span>福建省</span>
                        <span>福州市</span>
                        <span>仓山区</span>
                    </p>
                    <p>金山金榕南路创意园5号楼3楼接电话方便还是看是不是就看看手机</p>
                    <p></p>
                    <!--layer 按钮组件 编辑 删除-->
                    <div class="layui-btn-group operation_btn">
                        <button class="layui-btn layui-btn-primary layui-btn-sm">
                            <i class="layui-icon">&#xe642;</i>
                        </button>
                        <button class="layui-btn layui-btn-primary layui-btn-sm">
                            <i class="layui-icon">&#xe640;</i>
                        </button>
                    </div>
                </div>
                <div class="show_address">
                    <p style="font-size: 18px;margin: 10px 0 10px 5%">欧阳飞雪</p>
                    <p>18059310026</p>
                    <p>
                        <span>福建省</span>
                        <span>福州市</span>
                        <span>仓山区</span>
                    </p>
                    <p>金山金榕南路创意园5号楼3楼接电话方便还是看是不是就看看手机</p>
                    <p></p>
                    <!--layer 按钮组件 编辑 删除-->
                    <div class="layui-btn-group operation_btn">
                        <button class="layui-btn layui-btn-primary layui-btn-sm">
                            <i class="layui-icon">&#xe642;</i>
                        </button>
                        <button class="layui-btn layui-btn-primary layui-btn-sm">
                            <i class="layui-icon">&#xe640;</i>
                        </button>
                    </div>
                </div>
                <div class="show_address">
                    <p style="font-size: 18px;margin: 10px 0 10px 5%">欧阳飞雪</p>
                    <p>18059310026</p>
                    <p>
                        <span>福建省</span>
                        <span>福州市</span>
                        <span>仓山区</span>
                    </p>
                    <p>金山金榕南路创意园5号楼3楼接电话方便还是看是不是就看看手机</p>
                    <p></p>
                    <!--layer 按钮组件 编辑 删除-->
                    <div class="layui-btn-group operation_btn">
                        <button class="layui-btn layui-btn-primary layui-btn-sm">
                            <i class="layui-icon">&#xe642;</i>
                        </button>
                        <button class="layui-btn layui-btn-primary layui-btn-sm">
                            <i class="layui-icon">&#xe640;</i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="collect">
                <h1 style="text-align: left">我的收藏</h1>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <img src="__STATIC__/images/qq.png" style="width: 80%;height: 80%;display: inline-block"/>
                    </div>
                    <div class="panel-footer" style="background: none;">
                        <p style="overflow: hidden;word-break: keep-all">就肯定不死无法看就是点击数据库基本都是的变化的部署克服</p>
                        <p>￥<em>59.00</em></p>
                        <p style="color: red">
                            <span>在售商品</span>
                            <i class="layui-icon" style="float: right;cursor: pointer">&#xe640;</i>
                        </p>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <img src="__STATIC__/images/qq.png" style="width: 80%;height: 80%;display: inline-block"/>
                    </div>
                    <div class="panel-footer" style="background: none;">
                        <p style="overflow: hidden;word-break: keep-all">就肯定不死无法看就是点击数据库基本都是的变化的部署克服</p>
                        <p>￥<em>59.00</em></p>
                        <p style="color: red">
                            <span>在售商品</span>
                            <i class="layui-icon" style="float: right;cursor: pointer">&#xe640;</i>
                        </p>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <img src="__STATIC__/images/qq.png" style="width: 80%;height: 80%;display: inline-block"/>
                    </div>
                    <div class="panel-footer" style="background: none;">
                        <p style="overflow: hidden;word-break: keep-all">就肯定不死无法看就是点击数据库基本都是的变化的部署克服</p>
                        <p>￥<em>59.00</em></p>
                        <p style="color: red">
                            <span>在售商品</span>
                            <i class="layui-icon" style="float: right;cursor: pointer">&#xe640;</i>
                        </p>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <img src="__STATIC__/images/qq.png" style="width: 80%;height: 80%;display: inline-block"/>
                    </div>
                    <div class="panel-footer" style="background: none;">
                        <p style="overflow: hidden;word-break: keep-all">就肯定不死无法看就是点击数据库基本都是的变化的部署克服</p>
                        <p>￥<em>59.00</em></p>
                        <p style="color: red">
                            <span>在售商品</span>
                            <i class="layui-icon" style="float: right;cursor: pointer">&#xe640;</i>
                        </p>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <img src="__STATIC__/images/qq.png" style="width: 80%;height: 80%;display: inline-block"/>
                    </div>
                    <div class="panel-footer" style="background: none;">
                        <p style="overflow: hidden;word-break: keep-all">就肯定不死无法看就是点击数据库基本都是的变化的部署克服</p>
                        <p>￥<em>59.00</em></p>
                        <p style="color: red">
                            <span>在售商品</span>
                            <i class="layui-icon" style="float: right;cursor: pointer">&#xe640;</i>
                        </p>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <img src="__STATIC__/images/qq.png" style="width: 80%;height: 80%;display: inline-block"/>
                    </div>
                    <div class="panel-footer" style="background: none;">
                        <p style="overflow: hidden;word-break: keep-all">就肯定不死无法看就是点击数据库基本都是的变化的部署克服</p>
                        <p>￥<em>59.00</em></p>
                        <p style="color: red">
                            <span>在售商品</span>
                            <i class="layui-icon" style="float: right;cursor: pointer">&#xe640;</i>
                        </p>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <img src="__STATIC__/images/qq.png" style="width: 80%;height: 80%;display: inline-block"/>
                    </div>
                    <div class="panel-footer" style="background: none;">
                        <p style="overflow: hidden;word-break: keep-all">就肯定不死无法看就是点击数据库基本都是的变化的部署克服</p>
                        <p>￥<em>59.00</em></p>
                        <p style="color: red">
                            <span>在售商品</span>
                            <i class="layui-icon" style="float: right;cursor: pointer">&#xe640;</i>
                        </p>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <img src="__STATIC__/images/qq.png" style="width: 80%;height: 80%;display: inline-block"/>
                    </div>
                    <div class="panel-footer" style="background: none;">
                        <p style="overflow: hidden;word-break: keep-all">就肯定不死无法看就是点击数据库基本都是的变化的部署克服</p>
                        <p>￥<em>59.00</em></p>
                        <p style="color: red">
                            <span>在售商品</span>
                            <i class="layui-icon" style="float: right;cursor: pointer">&#xe640;</i>
                        </p>
                    </div>
                </div>
            </div>
            <div class="record">
                <h1>财务明细</h1>
                <div class="panel panel-default" style="margin: 2% 0 0 1%">
                    <!-- Default panel contents -->
                    <div class="panel-heading">
                        <div class="layui-form">
                            <div class="layui-form-item">
                                <div class="layui-inline">
                                    <label class="layui-form-label">开始</label>
                                    <div class="layui-input-inline">
                                        <input type="text" class="layui-input" id="start_record" placeholder="yyyy-MM-dd HH:mm:ss">
                                    </div>
                                </div>
                                <div class="layui-inline">
                                    <label class="layui-form-label">结束</label>
                                    <div class="layui-input-inline">
                                        <input type="text" class="layui-input" id="end_record" placeholder="yyyy-MM-dd HH:mm:ss">
                                    </div>
                                </div>
                                <div class="layui-inline">
                                   <button class="btn btn-primary">搜索</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Table -->
                    <table class="table">
                        <tr>
                            <th>交易账号</th>
                            <th>流水号</th>
                            <th>入账时间</th>
                            <th>订单号</th>
                            <th>交易类型</th>
                            <th>金额</th>
                        </tr>
                        <tr>
                            <td>18059310000</td>
                            <td>2018012501</td>
                            <td>2018-1-25 12:00:00</td>
                            <td>20180125001</td>
                            <td>购买</td>
                            <td>1000</td>
                        </tr>
                        <tr>
                            <td>18059310000</td>
                            <td>2018012501</td>
                            <td>2018-1-25 12:00:00</td>
                            <td>20180125001</td>
                            <td>收入</td>
                            <td>1000</td>
                        </tr>
                        <tr>
                            <td>18059310000</td>
                            <td>2018012501</td>
                            <td>2018-1-25 12:00:00</td>
                            <td>20180125001</td>
                            <td>购买</td>
                            <td>1000</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="message">
                <h1>我的消息</h1>
                <div class="panel panel-default" style="margin: 2% 0 0 3%">
                    <!-- Default panel contents -->
                    <div class="panel-heading">
                        <div class="layui-form">
                            <div class="layui-form-item">
                                <div class="layui-inline">
                                    <label class="layui-form-label">开始</label>
                                    <div class="layui-input-inline">
                                        <input type="text" class="layui-input" id="start_message" placeholder="yyyy-MM-dd HH:mm:ss">
                                    </div>
                                </div>
                                <div class="layui-inline">
                                    <label class="layui-form-label">结束</label>
                                    <div class="layui-input-inline">
                                        <input type="text" class="layui-input" id="end_message" placeholder="yyyy-MM-dd HH:mm:ss">
                                    </div>
                                </div>
                                <div class="layui-inline">
                                    <button class="btn btn-primary">搜索</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Table -->
                    <table class="table">
                        <tr>
                            <th>发送者</th>
                            <th>接收者</th>
                            <th>消息内容</th>
                            <th>时间</th>
                        </tr>
                        <tr>
                            <td>18059310000</td>
                            <td>2018012501</td>
                            <td>2018-1-25 12:00:00</td>
                            <td>20180125001</td>
                        </tr>
                        <tr>
                            <td>18059310000</td>
                            <td>2018012501</td>
                            <td>2018-1-25 12:00:00</td>
                            <td>20180125001</td>
                        </tr>
                        <tr>
                            <td>18059310000</td>
                            <td>2018012501</td>
                            <td>2018-1-25 12:00:00</td>
                            <td>20180125001</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="buy_order">
                <div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
                    <ul class="layui-tab-title">
                        <li class="layui-this">未支付</li>
                        <li>待收货</li>
                        <li>全部订单</li>
                    </ul>
                    <div class="layui-tab-content" style="height: auto;">
                        <div class="layui-tab-item layui-show">
                            <div class="panel panel-default">
                                <div class="panel-heading" style="background: none">
                                    <p>待支付</p>
                                    <p>
                                        <span>2018-01-25 12:26:56</span> |
                                        <span>欧阳飞雪</span> |
                                        订单号：<span>10236547895</span> |
                                        <span>在线支付</span>
                                    </p>
                                     <p style="text-align: right;font-size: 15px">订单金额：￥
                                            <b style="font-size: 18px">895.00</b>元
                                     </p>
                                </div>
                                <div class="panel-body">
                                    <table>
                                        <tr style="height: 100px">
                                            <td style="width: 10%;">
                                                <img src="__STATIC__/images/qq.png" class="trade_img">
                                            </td>
                                            <td style="width: 20%;">
                                                <p>科技时代的巴萨的框架啊</p>
                                                <p>699.00 x 1</p>
                                            </td>
                                            <td style="" class="mobile_xm_table">
                                                <button class="btn btn-primary" style="color:black;margin-bottom: 10px;background: none">立即支付</button><br>
                                                <button class="btn btn-primary" style="color:black;background: none">取消订单</button>
                                            </td>
                                        </tr>
                                        <tr  style="height: 100px">
                                            <td style="width: 10%;">
                                                <img src="__STATIC__/images/qq.png" class="trade_img">
                                            </td>
                                            <td style="width: 20%;">
                                                <p>科技时代的巴萨的框架啊</p>
                                                <p>699.00 x 1</p>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" style="background: none">
                                    <p>待支付</p>
                                    <p>
                                        <span>2018-01-25 12:26:56</span> |
                                        <span>欧阳飞雪</span> |
                                        订单号：<span>10236547895</span> |
                                        <span>在线支付</span>
                                    </p>
                                    <p style="text-align: right;font-size: 15px">订单金额：￥
                                        <b style="font-size: 18px">895.00</b>元
                                    </p>
                                </div>
                                <div class="panel-body">
                                    <table>
                                        <tr>
                                            <td style="width: 10%;">
                                                <img src="__STATIC__/images/qq.png" class="trade_img">
                                            </td>
                                            <td style="width: 20%;">
                                                <p>科技时代的巴萨的框架啊</p>
                                                <p>699.00 x 1</p>
                                            </td>
                                            <td style="" class="mobile_xm_table">
                                                <button class="btn btn-primary" style="color:black;margin-bottom: 10px;background: none">立即支付</button><br>
                                                <button class="btn btn-primary" style="color:black;background: none">取消订单</button>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="layui-tab-item">
                            <div class="panel panel-default">
                                <div class="panel-heading" style="background: none">
                                    <p>待收货</p>
                                    <p>
                                        <span>2018-01-25 12:26:56</span> |
                                        <span>欧阳飞雪</span> |
                                        订单号：<span>10236547895</span> |
                                        <span>在线支付</span>
                                    </p>
                                    <p style="text-align: right;font-size: 15px">订单金额：￥
                                        <b style="font-size: 18px">895.00</b>元
                                    </p>
                                </div>
                                <div class="panel-body">
                                    <table>
                                        <tr>
                                            <td style="width: 10%;">
                                                <img src="__STATIC__/images/qq.png" class="trade_img">
                                            </td>
                                            <td style="width: 20%;">
                                                <p>科技时代的巴萨的框架啊</p>
                                                <p>699.00 x 1</p>
                                            </td>
                                            <td style="" class="mobile_xm_table">
                                                <button class="btn btn-primary" style="color:black;margin-bottom: 10px;background: none">确认收货</button><br>
                                                <button class="btn btn-primary" style="color:black;background: none">退款</button>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" style="background: none">
                                    <p>待收货</p>
                                    <p>
                                        <span>2018-01-25 12:26:56</span> |
                                        <span>欧阳飞雪</span> |
                                        订单号：<span>10236547895</span> |
                                        <span>在线支付</span>
                                    </p>
                                    <p style="text-align: right;font-size: 15px">订单金额：￥
                                        <b style="font-size: 18px">895.00</b>元
                                    </p>
                                </div>
                                <div class="panel-body">
                                    <table>
                                        <tr>
                                            <td style="width: 10%;">
                                                <img src="__STATIC__/images/qq.png" class="trade_img">
                                            </td>
                                            <td style="width: 20%;">
                                                <p>科技时代的巴萨的框架啊</p>
                                                <p>699.00 x 1</p>
                                            </td>
                                            <td style="" class="mobile_xm_table">
                                                <button class="btn btn-primary" style="color:black;margin-bottom: 10px;background: none">确认收货</button><br>
                                                <button class="btn btn-primary" style="color:black;background: none">退款</button>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="layui-tab-item">
                            <div class="panel panel-default">
                                <div class="panel-heading" style="background: none">
                                    <p>已收货</p>
                                    <p>
                                        <span>2018-01-25 12:26:56</span> |
                                        <span>欧阳飞雪</span> |
                                        订单号：<span>10236547895</span> |
                                        <span>在线支付</span>
                                    </p>
                                    <p style="text-align: right;font-size: 15px">订单金额：￥
                                        <b style="font-size: 18px">895.00</b>元
                                    </p>
                                </div>
                                <div class="panel-body">
                                    <table>
                                        <tr>
                                            <td style="width: 10%;">
                                                <img src="__STATIC__/images/qq.png" class="trade_img">
                                            </td>
                                            <td style="width: 20%;">
                                                <p>科技时代的巴萨的框架啊</p>
                                                <p>699.00 x 1</p>
                                            </td>
                                            <td style="" class="mobile_xm_table">
                                                <button class="btn btn-primary" style="color:black;margin-bottom: 10px;background: none">申请售后</button><br>
                                                <button class="btn btn-primary" style="color:black;background: none">订单详情</button>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="boss_order">
                <div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
                    <ul class="layui-tab-title">
                        <li class="layui-this">待发货</li>
                        <li>全部订单</li>
                    </ul>
                    <div class="layui-tab-content" style="height: auto;">
                        <div class="layui-tab-item layui-show">
                            <div class="panel panel-default">
                                <div class="panel-heading" style="background: none">
                                    <p>已付款 待发货</p>
                                    <p>
                                        <span>2018-01-25 12:26:56</span> |
                                        <span>欧阳飞雪</span> |
                                        订单号：<span>10236547895</span> |
                                        <span>在线支付</span>
                                    </p>
                                    <p style="text-align: right;font-size: 15px">订单金额：￥
                                        <b style="font-size: 18px">895.00</b>元
                                    </p>
                                </div>
                                <div class="panel-body">
                                    <table>
                                        <tr>
                                            <td style="width: 10%;">
                                                <img src="__STATIC__/images/qq.png" class="trade_img">
                                            </td>
                                            <td style="width: 20%;">
                                                <p>科技时代的巴萨的框架啊</p>
                                                <p>699.00 x 1</p>
                                            </td>
                                            <td style="" class="mobile_xm_table">
                                                <button class="btn btn-primary" style="color:black;margin-bottom: 10px;background: none">一键发货</button><br>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="layui-tab-item">
                            <div class="panel panel-default">
                                <div class="panel-heading" style="background: none">
                                    <p>已回款</p>
                                    <p>
                                        <span>2018-01-25 12:26:56</span> |
                                        <span>欧阳飞雪</span> |
                                        订单号：<span>10236547895</span> |
                                        <span>在线支付</span>
                                    </p>
                                    <p style="text-align: right;font-size: 15px">订单金额：￥
                                        <b style="font-size: 18px">895.00</b>元
                                    </p>
                                </div>
                                <div class="panel-body">
                                    <table>
                                        <tr>
                                            <td style="width: 10%;">
                                                <img src="__STATIC__/images/qq.png" class="trade_img">
                                            </td>
                                            <td style="width: 20%;">
                                                <p>科技时代的巴萨的框架啊</p>
                                                <p>699.00 x 1</p>
                                            </td>
                                            <td style="" class="mobile_xm_table">
                                                <button class="btn btn-primary" style="color:black;background: none">订单详情</button>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="publish_normal">
                <div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
                    <ul class="layui-tab-title">
                        <li class="layui-this">发布商品</li>
                    </ul>
                    <div class="layui-tab-content" style="height:auto;">
                        <div class="layui-tab-item layui-show">
                            <!--发布普通商品-->
                            <form id="normal_form">
                                <!--发布商品类型-->
                                <div>
                                    <select  v-model="selected" class="form-control input-lg select_mod" @change="actionType()">
                                        <option value="">选择商品发布类型</option>
                                        <option v-for="x in type"  v-bind:value="x.op">{{ x.name }}</option>
                                    </select>
                                </div>
                                <br>
                                <!--商品标题-->
                                <textarea class="form-control" rows="2" maxlength="32" placeholder="商品标题/品牌品类都是买家喜欢搜索的/最长字符32位/" style="display: inline;width: 90%;font-size: 15px"></textarea>
                                <!--活动开始结束时间-->
                                <div class="layui-inline" v-if="judge">
                                    <!--<label class="layui-form-label"></label>-->
                                    <div class="layui-input-inline">
                                        <input type="text" class="layui-input" id="start_action" placeholder="活动开始时间"  style="height: 50px"/>
                                    </div>
                                    <!--<label class="layui-form-label"></label>-->
                                    <div class="layui-input-inline">
                                        <input type="text" class="layui-input" id="end_action" placeholder="活动结束时间"  style="height: 50px"/>
                                    </div>
                                </div>
                                <!--商品分类 自定义class为select_mod-->
                                <div>
                                    <select class="form-control input-lg select_mod" style="margin-top: 10px;">
                                        <option>商品类型</option>
                                        <option>数码</option>
                                    </select>
                                    <select class="form-control input-lg select_mod">
                                        <option>商品品牌</option>
                                        <option>数码</option>
                                    </select>
                                    <select class="form-control input-lg select_mod">
                                        <option>新旧程度</option>
                                        <option>九五新</option>
                                    </select>
                                </div>
                                <!--商品价格 自定义id为normal_price 和 normal_old_price-->
                                <br>
                                    <div class="form-group">
                                        <div class="input-group">
                                            <div class="input-group-addon">￥</div>
                                            <input type="text" class="form-control input-lg" id="normal_price" placeholder="商品全新价格" style="font-size: 15px"/>
                                            <div class="input-group-addon">￥</div>
                                            <input type="text" class="form-control input-lg" id="normal_old_price" placeholder="二手价格" style="font-size: 15px"/>
                                        </div>
                                    </div>
                                <!--省 市 区联动 自定义class为select_mod-->
                                <div style="font-size: 15px">
                                    <select class="form-control input-lg select_mod" style="margin-top: 10px">
                                        <option>省份</option>
                                        <option>福建省</option>
                                    </select>
                                    <select class="form-control input-lg select_mod">
                                        <option>市区</option>
                                        <option>福州市</option>
                                    </select>
                                    <select class="form-control input-lg select_mod">
                                        <option>区县</option>
                                        <option>仓山区</option>
                                    </select>
                                </div>
                                <!--商品描述/基本信息介绍-->
                                <br>
                                <textarea class="form-control" rows="4"  placeholder="商品描述/基本信息介绍" style="display: inline;width: 90%;font-size: 15px"></textarea>
                                <!--默认图片上传 自定义id为 default 和 default_img-->
                                <div class="layui-upload">
                                    <button type="button" class="layui-btn" id="default">商品主图</button><br>
                                    <img class="layui-upload-img" id="default_img"/>
                                </div>
                                <!--商品图片 自定义id为 more_pic_btn 和 more_picture-->
                                <div class="layui-upload">
                                    <button type="button" class="layui-btn" id="more_pic_btn">商品详情图</button>
                                    <blockquote class="layui-elem-quote layui-quote-nm" style="margin-top: 10px;">
                                        商品预览图,最多10张图片
                                        <div class="layui-upload-list" id="more_picture"></div>
                                    </blockquote>
                                </div>
                                <!--自定义class为 clear_picture id为publishNormal-->
                                <button type="button" class="btn btn-primary btn-lg" id="publicNormal">发布商品</button>
                                <input type="reset" class="btn btn-warning " value="重置信息">
                                <button type="button" class="btn btn-danger clear_picture">清空图片</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="myGoods">
                <h1>我的商品</h1>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <img src="__STATIC__/images/qq.png" style="width: 80%;height: 80%;display: inline-block"/>
                    </div>
                    <div class="panel-footer" style="background: none;">
                        <p style="overflow: hidden;word-break: keep-all">就肯定不死无法看就是点</p>
                        <p>￥<em>59.00</em></p>
                        <p style="color: red">
                            <span>在售商品</span>
                            <i class="layui-icon" style="float: right;cursor: pointer;font-size: 25px">&#xe640;</i>
                            <i class="layui-icon" style="float: right;cursor: pointer;font-size: 25px">&#xe640;</i>
                            <i class="layui-icon" style="float: right;cursor: pointer;font-size: 25px">&#xe640;</i>
                        </p>
                    </div>
                </div>
            </div>
            <div class="exit">10</div>
            <div class="complain">11</div>
        </div>
        <div class="content_middle"></div>
    </div><!--class="content" body主体区域-->
<!--foot页尾 商城备案信息-->
<div class="foot"></div>
</div>
</body>
<script>
    var exit_login="{:url('login/Login/exitLogin')}";
    var go_login="{:url('login/Login/login')}";
    var alter_heading="{:url('user/User/alterHead')}";
</script>
<script src="__JS__/font/user.js"></script>
</html>