<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
    <title>换换商城注册页面</title>
    <link href="__STATIC__/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="__CSS__/font/login.css" rel="stylesheet"/>
    <script src="__STATIC__/public/jquery.js"></script>
    <script src="__STATIC__/layui/layui.all.js"></script>
</head>
<body>
<div id="exit">
    <img src="__STATIC__/images/return.png"/>
</div>
<div class='loginMain'>
    <div class='loginUI'>
        <form>
            <ul>
                <li style='margin: 25px 0 25px 55px;text-align: center'><p style='font-size: 30px;font-family: 楷体;color:orange;'>换换商城注册</p></li>
                <li><input type='text' placeholder='手机号/邮箱' name='user'/></li>
                <li class='check'></li>
                <li><input type='password' placeholder='输入密码' name='password'/></li>
                <li class='check'></li>
                <li><input type='password' placeholder='再次输入密码' name='rePassword'/></li>
                <li class='check'></li>
                <li><input type='text' value="" placeholder='验证码' name='code'/>
                    <div   style="margin-top: 10px"><img src="{:captcha_src()}" alt="captcha" class="changeImg"/></div>
                </li>
                <li class='check' style="margin-top:55px"></li>
                <li class='check' style="text-align: left;">
                    <input type="checkbox" placeholder="" checked style="display: inline-block;width:15px;height: 15px"/>
                    我已阅读并同意《隐私权条款》和《换换使用协议》
                </li>
                <li style="margin-top: 20px"><input type='button' value='注册' id='loginBtn' class="register"></li>
                <li style="margin-top: 20px">已有账号：<span style="color:orangered;font-size: 18px;cursor: pointer" class="gologin">前往登陆</span></li>
                <li><hr></li>
            </ul>
        </form>
    </div><!--class='loginUI'-->
</div><!--class='loginMain'-->
</body>
<script>
    //验证码刷新事件
    $(".changeImg").click(function(){
        $(this).attr("src","{:captcha_src()}?"+Math.random());
    });
    var check_account="{:url('register/Register/checkAccount')}";
    var go_register="{:url('register/Register/goRegister')}";
    var go_login="{:url('login/Login/login')}";
</script>
<script src="__JS__/font/register.js"></script>
</html>