<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>购物车</title>
    <meta http-equiv="X-UA-compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="__STATIC__/public/carts/reset.css">
    <link rel="stylesheet" href="__STATIC__/public/carts/carts.css">
    <link href="__STATIC__/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!--基于jq的-->
    <script src="__STATIC__/public/jquery.js" ></script>
    <!--引入动态效果的js-->
    <script src="__STATIC__/bootstrap/js/bootstrap.min.js" ></script>
</head>
<body>
<div class="container" style="background-color: gainsboro;text-align: center">
    <div class="col-md-5">
        <p style="float: left">
            <a href="{:url('index/Index/index')}"><span class="glyphicon glyphicon-home"></span>转转首页</a>
        </p>
        <p style="margin-left: 20px;float: left">
            <span>hi,</span>
            <span>13799212123</span>
            <span><a href="#">退出</a></span>
        </p>
    </div>
    <div class="col-md-3">

    </div>
    <div class="col-md-4">
        <p style="float: left">
            <a href="">我的转转</a>
        </p>
        <p style="margin-left: 20px;float: left">
            <a href="" class="glyphicon glyphicon-shopping-cart">我的购物车<span class="badge">50</span></a>
        </p>
        <p style="margin-left: 20px;float: left">
            <a href="{:url('user/User/userCenter')}?who=3">收藏夹</a>
        </p>
    </div>
</div>
<div class="container" style="margin-top: 10px">
    <h1 style="font-weight: bold;color: red">转转购物车</h1>
</div>
<div class="container" style="margin-top: 10px" id="shoppingCar">
    <div class="cartMain">
        <div class="cartMain_hd">
            <ul class="order_lists cartTop">
                <li class="list_chk">
                    <!--所有商品全选-->
                    <input type="checkbox" id="all" class="whole_check">
                    <label for="all"></label>
                    全选
                </li>
                <li class="list_con">商品信息</li>
                <li class="list_info"></li>
                <li class="list_price">单价</li>
                <li class="list_amount">数量</li>
                <li class="list_sum">金额</li>
                <li class="list_op">操作</li>
            </ul>
        </div>

        <div class="cartBox">
            <div class="shop_info">
                <div class="all_check">
                    <!--店铺全选-->
                    <input type="checkbox" id="shop_a" class="shopChoice">
                    <label for="shop_a" class="shop"></label>
                </div>
                <div class="shop_name">
                    卖家：<a href="javascript:;"></a>
                </div>
            </div>
            <div class="order_content">
                <ul class="order_lists">
                    <li class="list_chk">
                        <input type="checkbox" id="checkbox_2" class="son_check">
                        <label for="checkbox_2"></label>
                    </li>
                    <li class="list_con">
                        <div class="list_img"><a href="javascript:;"><img src="__STATIC__/images/1.png" alt=""></a></div>
                        <div class="list_text"><a href="javascript:;">夏季男士迷彩无袖T恤圆领潮流韩版修身男装背心青年时尚打底衫男</a></div>
                    </li>
                    <li class="list_info">
                    </li>
                    <li class="list_price">
                        <p class="price">￥980</p>
                    </li>
                    <li class="list_amount">
                        <div class="amount_box">
                            <a href="javascript:;" class="reduce reSty">-</a>
                            <input type="text" value="1" class="sum">
                            <a href="javascript:;" class="plus">+</a>
                        </div>
                    </li>
                    <li class="list_sum">
                        <p class="sum_price">￥980</p>
                    </li>
                    <li class="list_op">
                        <p class="del"><a href="javascript:;" class="delBtn">移除商品</a></p>
                    </li>
                </ul>
                <ul class="order_lists">
                    <li class="list_chk">
                        <input type="checkbox" id="checkbox_3" class="son_check">
                        <label for="checkbox_3"></label>
                    </li>
                    <li class="list_con">
                        <div class="list_img"><a href="javascript:;"><img src="__STATIC__/images/2.png" alt=""></a></div>
                        <div class="list_text"><a href="javascript:;">夏季男士迷彩无袖T恤圆领潮流韩版修身男装背心青年时尚打底衫男</a></div>
                    </li>
                    <li class="list_info">
                    </li>
                    <li class="list_price">
                        <p class="price">￥780</p>
                    </li>
                    <li class="list_amount">
                        <div class="amount_box">
                            <a href="javascript:;" class="reduce reSty">-</a>
                            <input type="text" value="1" class="sum">
                            <a href="javascript:;" class="plus">+</a>
                        </div>
                    </li>
                    <li class="list_sum">
                        <p class="sum_price">￥780</p>
                    </li>
                    <li class="list_op">
                        <p class="del"><a href="javascript:;" class="delBtn">移除商品</a></p>
                    </li>
                </ul>
                <ul class="order_lists">
                    <li class="list_chk">
                        <input type="checkbox" id="checkbox_6" class="son_check">
                        <label for="checkbox_6"></label>
                    </li>
                    <li class="list_con">
                        <div class="list_img"><a href="javascript:;"><img src="__STATIC__/images/3.png" alt=""></a></div>
                        <div class="list_text"><a href="javascript:;">夏季男士迷彩无袖T恤圆领潮流韩版修身男装背心青年时尚打底衫男</a></div>
                    </li>
                    <li class="list_info">
                    </li>
                    <li class="list_price">
                        <p class="price">￥180</p>
                    </li>
                    <li class="list_amount">
                        <div class="amount_box">
                            <a href="javascript:;" class="reduce reSty">-</a>
                            <input type="text" value="1" class="sum">
                            <a href="javascript:;" class="plus">+</a>
                        </div>
                    </li>
                    <li class="list_sum">
                        <p class="sum_price">￥180</p>
                    </li>
                    <li class="list_op">
                        <p class="del"><a href="javascript:;" class="delBtn">移除商品</a></p>
                    </li>
                </ul>
            </div>
        </div>

        <!--底部-->
        <div class="bar-wrapper">
            <div class="bar-right">
                <div class="piece">已选商品<strong class="piece_num">0</strong>件</div>
                <div class="totalMoney">共计: <strong class="total_text">0.00</strong></div>
                <div class="calBtn"><a href="javascript:;">结算</a></div>
            </div>
        </div>
    </div>
    <div class="model_bg"></div>
    <div class="my_model">
        <p class="title">删除宝贝<span class="closeModel">X</span></p>
        <p>您确认要删除该宝贝吗？</p>
        <div class="opBtn"><a href="javascript:;" class="dialog-sure">确定</a><a href="javascript:;" class="dialog-close">关闭</a></div>
    </div>
</div>
</body>
<script>
    var showCar='{:url("index/Index/showCar")}';
</script>
<script src="__JS__/font/shoppingCar.js"></script>
</html>